IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_instance
CF_ACCOUNT_ID=your_cloudflare_account_id
CF_WORKER_AI_API_TOKEN=your_cloudflare_worker_ai_token
CF_MODEL=@cf/black-forest-labs/flux-2-klein-9b
